<a href="https://colab.research.google.com/github/priyarao23/python-workshop/blob/master/pyWS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Programming!

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

#x->int y->string z->float

In [ ]:
x, y, z= 5, "Python", 1.999
print(x)
print(y)
print(z)

5
Python
1.999

In [ ]:
x=y=z="Priya"
print(x)
print(y)
print(z)

Priya
Priya
Priya

#Exercise 1

In [ ]:
carname="Volvo"
print(carname)

Volvo

#Exercise 2

In [ ]:
x=50
print(type(x))

<class 'int'>

#Exercise 3

In [ ]:
x, y = 5, 10
print(x+y)

15

#Exercise 4

In [ ]:
x, y = 11, 17
z=x+y
print(z)

28

#Data Type

In [ ]:
x=5.34
print(type(x))

<class 'float'>

In [ ]:
x=5
print(type(x))

<class 'int'>

#Examples

In [ ]:
x1= "Hello World!" #string
x2=10 #integer
x3=10.1 #float
x4=["Apple", "Banana", "Cherry"] #list
x5=("Apple", "Banana", "Cherry") #tuple
x6=range(6) #range
x7={"name":"Johnwick","age":36} #dictionary
x8={"Apple", "Banana", "Cherry"} #set
x9=True #bool
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
{'name': 'Johnwick', 'age': 36}
<class 'set'>
<class 'bool'>

#Python Numbers

In [ ]:
x=755658794344656754
y=23.1999
z=-23+7j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x=range(0,6,2)
print(list(x))

[0, 2, 4]

In [ ]:
x={1, 2, 4, 2, 6 ,5, 3 ,7, 9, 2, 8, 1, 6} #set
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#Type Conversion

In [ ]:
x=1
y=2.8
z=1j
a=float(x)
print(a)
b=int(y)
print(b)
c=complex(x)
print(c)

1.0
2
(1+0j)

#Python Casting

In [ ]:
x=int(1) #x will be 1
y=int(2.8) #y will be 2
z=int("3") #z will be 3

x=float(1) #x will be 1.0
y=float(2.8) #y will be 2.8
z=float("3") #z will be 3.0
w=float("4.2") #w will be 4.2

x=str("s1") #x will be 's1'
y=str(2) #y will be '2'
z=str(3.0) #z will be '3'

#Assignment

In [ ]:
x, y = 2, 3
print( str(x)+str(y))

23

#Assign String to Variable

In [ ]:
name= "Priya"
print(name)
print(type(name))

Priya
<class 'str'>

In [ ]:
name="Priya"
print(name[1]) 
print(len(name)) #string length

r
5

#Check String

In [ ]:
txt="Things in life are free"
print("life" in txt)
print("I" in txt)
print(txt[0:6]) #Slicing
print(txt[:6]) #start
print(txt[7:]) #end

True
False
Things
Things
in life are free

#Negative Indexing

In [ ]:
txt="Things in life are free!"
print(txt[-6:-1])

 free

#Modifying

In [ ]:
txt="Things in life are free!"
print(txt.upper())
print(txt.lower())

THINGS IN LIFE ARE FREE!
things in life are free!

#String Concatenation

In [ ]:
a="Hello "
b="World!"
print(a+b)

Hello World!

#Python-Format-String

In [ ]:
age=36
txt="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

#Escape Characters

In [ ]:
txt="Hello\nWorld!"
print(txt)

Hello
World!

In [ ]:
txt="Hello\tWorld!"
print(txt)

Hello	World!

In [ ]:
txt="priya"
print(txt.capitalize())

Priya

In [ ]:
txt="priya"
print(txt.isupper())

False

In [ ]:
txt="priya"
print(txt.isalpha())

True

#Exercise

In [ ]:
name="alvas"
a=" college"
txt="alvas{}"
print(name)
print(len(name))
print(name[0:4])
print(name.upper())
print(name+a)
print(txt.format(a))
print(name.isdigit())

alvas
5
alva
ALVAS
alvas college
alvas college
False

#Boolean Values

In [ ]:
print(10>9)
print(10==9)

True
False

#Arithmetic Operators

In [ ]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)

15
5
50
2.0
0

#Python Comparison Operators

In [ ]:
x, y = 2, 5
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
False
True

In [ ]:
print(3<0 and 3<8) #False and True is False
print(3<0 and 3>8) #False and True is False
print(3<0 or 3<8) #False and True is true

False
False
True

#Assignment

In [ ]:
x=int(input("enter a number:\n"))
y=int(input("enter a number:\n"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

enter a number:
5
enter a number:
6
11
-1
30
0.8333333333333334
5
False
True
False
True

#thislist

In [ ]:
thislist=["Priya", "Nithya", "Archana"]
print(thislist)
print(len(thislist)) #length

['Priya', 'Nithya', 'Archana']
3

In [ ]:
L=list(("cse", "ece", "ise"))
print(L)

['cse', 'ece', 'ise']

#Range of Indexes

In [ ]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[2:5])

['ise', 'mech', 'civil']

#Slice from the start

In [ ]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[:3])

['cse', 'ece', 'ise']

#Slice from the end

In [ ]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[4:])

['civil']

#Change list items

In [ ]:
L=["cse", "ece", "ise"]
L[-1]="ML"
print(L)

['cse', 'ece', 'ML']

#Add list items

In [ ]:
thislist=["apple", "banana", "cherry"]
print(len(thislist))
thislist.append("orange")
print(thislist)
print(len(thislist))

3
['apple', 'banana', 'cherry', 'orange']
4

#Extend List

In [ ]:
thislist=["apple", "banana", "cherry"]
tropical=["mango", "pineapple", "papaya"]
thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
thislist=["apple", "banana", "cherry"]
tropical=["mango", "pineapple", "papaya"]
newlist=thislist+tropical
print(newlist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#Remove specified item

In [ ]:
thislist=["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

['apple', 'cherry']
['apple']
[]

#Sort method

In [ ]:
thislist=[100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

#Sort Descending

In [ ]:
thislist=[100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

#Reverse Order

In [ ]:
thislist=[100, 50, 65, 82, 23]
thislist.reverse()
print(thislist)

[23, 82, 65, 50, 100]

In [ ]:
namelist=["Harsh", "Pratik", "Bob", "Dhruv"]
print(namelist[1])

Pratik

#Exercise

In [ ]:
animal=['cat', 'dog', 'fish', 'goat']
age=[1, 2, 2, 6]
newlist=animal+age
print(newlist)

animal.extend(age)
print(animal)

['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]
['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]

#Exercise

In [ ]:
age=[1, 2, 3, 6]
age.append(9)
print(age)

age.pop(2)
print(age)

print(age.count(3))

[1, 2, 3, 6, 9]
[1, 2, 6, 9]
0

#Python Tuples

In [ ]:
thistuple=("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

#Update tuple

In [ ]:
x=("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
fruits=("apple", "banana", "cherry")
x=list(fruits)
print(x)
x.append("Banana")
print(x)
print(tuple(x))
print(fruits[-2])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Banana']
('apple', 'banana', 'cherry', 'Banana')
banana

#Create a list of your USN and Name by taking the user input, append branch, phone number, section. Print the list in reverse.

In [ ]:
list=input("Enter your name and USN ")
print(list)
list.append("ECE", "7349398374", "A")
print(list)
list.reverse()
print(list)

Enter your name and USN priya 041
priya 041

AttributeError: ignored

In [ ]:
list1=(input("Enter your Name:"))
list2=(input("Enter your USN:"))
list3=(input("Enter your branch:"))
list4=int(input("Enter your phone number:"))
list5=(input("Enter your section:"))
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)

KeyboardInterrupt: ignored

In [ ]:
List1=[(input("Enter your name : "))]
List2=[(input("Enter your USN : "))]
List = List1+List2
List. append(''ECE", "7349398374", "A")
print(List)
List.reverse()
print(List)

SyntaxError: ignored

In [ ]:
List1=[(input("Enter your name : "))]
List2=[(input("Enter your USN : "))]
List = List1+List2
List.append("ECE")
List.append("7349398374") 
List.append("A")
print(List)
List.reverse()
print(List)

Enter your name : Priya
Enter your USN : 4AL18EC041
['Priya', '4AL18EC041', 'ECE', '7349398374', 'A']
['A', '7349398374', 'ECE', '4AL18EC041', 'Priya']

#Sets [DAY-2]

In [ ]:
numbers={1, 2, 3, 4}
print(numbers)

{1, 2, 3, 4}

#set()

In [ ]:
a=set(('ECE', 'CSE', 'ISE', 'CIV'))
print(a)
a.add("MECH") #adding
print(a)
print(len(a))
a.add("CSE") #donot allow duplication of elements
print(len(a))
print(a)
a.remove("MECH") #.remove method
print(a)
a.pop() #removes last item
print(a)
a.clear() #clears the set
print(a)
print(len(a))

TypeError: ignored

In [ ]:
a=set(('ECE', 'CSE', 'ISE', 'CIV'))
print(a)
del a
print(a)

{'CIV', 'CSE', 'ISE', 'ECE'}

NameError: ignored

#Join sets

In [ ]:
set1={1, 2, 3, 4, 5}
set2={'a', 'b', 'c'}
set=set1.union(set2) #Union method
print(set)
set1.update(set2) #Update method
print(set)

{'a', 1, 2, 3, 4, 5, 'c', 'b'}
{'a', 1, 2, 3, 4, 5, 'c', 'b'}

In [ ]:
thiset={1, 2, 3, 4, 5}
mylist=['a', 'b', 'c']
thiset.update(mylist)
print(thiset)

{'a', 1, 2, 3, 4, 5, 'b', 'c'}

In [ ]:
set1={1, 2, 3}
set2={1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3}

In [ ]:
a=[1,2,3,4,1,2]
s=set(a)
print(type(s))
print(a)

TypeError: ignored

In [ ]:
a=[1,2,3,4,1,2]
s=set(a)
print(a)

TypeError: ignored

In [ ]:
fruits={"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

In [ ]:
fruits={"apple", "banana", "cherry"}
more_fruits=["Orange", "Mango", "grapes"]
fruits.update(more_fruits)
print(fruits)
fruits=fruits.union(more_fruits)
print(fruits)

{'Mango', 'Orange', 'cherry', 'grapes', 'apple', 'banana'}
{'grapes', 'Mango', 'apple', 'Orange', 'cherry', 'banana'}

In [ ]:
fruits={"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}
{'cherry', 'apple'}

In [ ]:
a=[1, 2, 1, 2, 3]
print(len(a))
new=set(a)
print(new)

5

TypeError: ignored

In [ ]:
a=[1, 2, 1, 2, 3]
print(length(a))

print(len(set([1, 2, 1, 2, 3])))

NameError: ignored

In [ ]:
print(len(set([1, 2, 1, 2, 3])))

TypeError: ignored

#Creating Dictionary

In [ ]:
today={
    "day":"thursday",
    "date":"07",
    "month":"january"
}
print(today)

{'day': 'thursday', 'date': '07', 'month': 'january'}

In [ ]:
help(set)

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

#duplication is not possible

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
    "year": 2020,
    "model": 'lamborgini'
}
print(thisdict)
x=thisdict["model"]
print(x)
print(len(thisdict))
y=thisdict.get("model")
print(y)

{'brand': 'ford', 'model': 'lamborgini', 'year': 2020}
lamborgini
3
lamborgini

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
    "year": 2020,
}
x=thisdict.values()
print(x)
print(len(thisdict))

dict_values(['ford', 'mustang', 2020])
3

#Change dictionary items

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
    "year": 2020,
}
thisdict["year"]=2021
print(thisdict)
print(len(thisdict))

{'brand': 'ford', 'model': 'mustang', 'year': 2021}
3

#Add dictionary items

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
thisdict["color"]="red"
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

#Remove Dictionary items

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
thisdict.pop("model")
print(thisdict)
print(len(thisdict))

{'brand': 'ford', 'year': 1964}
2

#Del Keyword

In [ ]:
thisdict={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
del thisdict["model"]
print(thisdict)
print(len(thisdict))

{'brand': 'ford', 'year': 1964}
2

In [ ]:
car={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
print(car.get("model"))

mustang

In [ ]:
car={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
car["year"]=2021
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 2021}

In [ ]:
car={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
car.update({"color": "red"})
print(car)

{'brand': 'ford', 'model': 'mustang', 'year': 1964, 'color': 'red'}

In [ ]:
car={
    "brand": "ford",
    "model": "mustang",
    "year": 1964,
}
car.pop("model")
print(car)

{'brand': 'ford', 'year': 1964}

#Python Conditions and If Statements

In [ ]:
a=33 
b=200
if b>a:
  print("b is greater than a")

b is greater than a

#elif

In [ ]:
a=33 
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal")

a and b are equal

#else

In [ ]:
a=200
b=33
if b>a:
  print("b is greater than a")
elif a==b:
  print("a and b are equal") 
else:
  print("a is greater than b")

a is greater than b

#Assignment

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
c=int(input("Enter a number: "))
if a>b:
  if a>c:
    print("a is greater")
  else:
    print("c is greater") 
elif b>c:
  print("b is graeter")
else:
  print("z is greater than x and y")

Enter a number: 8
Enter a number: 2
Enter a number: 10
z is greater than x and y

#While loop

In [ ]:
i=1
while i<6:
  print(i)
  i+=1 #i=i+1

1
2
3
4
5

#Break Statement

In [ ]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

#Continue Statement

In [ ]:
i=0
while i<6:
  i+=1  
  if i==3:
    continue
  print(i)

1
2
4
5
6

#Assignment

In [ ]:
a=int(input("Enter a number of inputs: "))
i=0
count=0
while i<=a:
  count=count+i
  i=i+1
print(count)

Enter a number of inputs: 5
15

In [ ]:
n=int(input())
sum=0
while (n):
  sum +=n
  n-=1
print(sum)

5
15

#For loop

In [ ]:
fruits=["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

#Looping through string

In [ ]:
for x in "Priya":
  print(x)

P
r
i
y
a

#break in for loop

In [ ]:
fruits=["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x=="banana":
    break

apple
banana

#Range()

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

#Range() with step size

In [ ]:
for x in range(3, 30, 6):
  print(x)

3
9
15
21
27

#Nested Loops

In [ ]:
adj= ["red", "big", "tasty"]
fruits=["apple", "banana", "cherry"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#Assignment

In [ ]:
even=[]
odd=[]
n=8
for i in range (1, n+1): 
  if i%2==1:
    odd.append(i)
  else:  
    even.append(i)
print(odd)
print(even)

[1, 3, 5, 7]
[2, 4, 6, 8]

In [ ]:
even=[]
odd=[]
n=8
for i in range (1, n+1, 2): 
  odd.append(i)
  even.append(i+1)
print(odd)
print(even)

[1, 3, 5, 7]
[2, 4, 6, 8]

#Creating a list

In [160]:
print([i for i in range(1,21)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [162]:
x=[i*i for i in range(1,11)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [165]:
even=[]
n=10
for i in range (1, n+1, 2): 
  even.append(i+1)
print(even)

[2, 4, 6, 8, 10]

In [167]:
evenList=[i for i in range(1,21) if i%2==0]
print(evenList)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [172]:
x=[i*i for i in range(1,21) if i%2==1]
print(x)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [170]:
if 0:
  print(even)
else:
  print(odd)

[1, 3, 5, 7]

In [171]:
if -1:
  print(even)
else:
  print(odd)

[2, 4, 6, 8, 10]

In [173]:
myList1=[1, 1, 2, 3, 4, 5]
print(all(myList1))

myList2=[1, 9, 2, 7, 4, 0]
print(all(myList2))

True
False

#Prime Numbers

In [178]:
lst=[]
for i in range(2,21):
  isPrime=True
  for j in range(2,i):
    if i%j==0:
      isPrime=False
  if isPrime:    
      lst.append(i)
print(lst)

[2, 3, 5, 7, 11, 13, 17, 19]

In [179]:
primeList=[i for i in range(2,21) if all(i%j!=0 for j in range(2,i))]
print(primeList)

[2, 3, 5, 7, 11, 13, 17, 19]

In [182]:
print([6%j!=0 for j in range(2,6)])
print(all([6%j!=0 for j in range(2,6)]))
print(all([7%i!=0 for i in range(2,7)]))

[False, False, True, True]
False
True

In [196]:
x=[i*i for i in range(1,25) if i*i<=25]
print(x)

[1, 4, 9, 16, 25]

In [201]:
def my_fun(a,b):
  print(a,b)
my_fun("jack", "jill")

def my_fun(a,b="jill"):
  print(a,b)
my_fun("jack")

def my_fun(a,b=2):
  print(a,b)
my_fun("jack", 3)

jack jill
jack jill
jack 3