<a href="https://colab.research.google.com/github/priyarao23/python-workshop/blob/master/pyWS1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Programming!

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
x=5
y="John"
print(x)
print(y)

5
John

#x->int y->string z->float

In [ ]:
x, y, z= 5, "Python", 1.999
print(x)
print(y)
print(z)

5
Python
1.999

In [ ]:
x=y=z="Priya"
print(x)
print(y)
print(z)

Priya
Priya
Priya

#Exercise 1

In [ ]:
carname="Volvo"
print(carname)

Volvo

#Exercise 2

In [ ]:
x=50
print(type(x))

<class 'int'>

#Exercise 3

In [ ]:
x, y = 5, 10
print(x+y)

15

#Exercise 4

In [ ]:
x, y = 11, 17
z=x+y
print(z)

28

#Data Type

In [22]:
x=5.34
print(type(x))

<class 'float'>

In [23]:
x=5
print(type(x))

<class 'int'>

#Examples

In [35]:
x1= "Hello World!" #string
x2=10 #integer
x3=10.1 #float
x4=["Apple", "Banana", "Cherry"] #list
x5=("Apple", "Banana", "Cherry") #tuple
x6=range(6) #range
x7={"name":"Johnwick","age":36} #dictionary
x8={"Apple", "Banana", "Cherry"} #set
x9=True #bool
print(type(x1))
print(type(x2))
print(type(x3))
print(type(x4))
print(type(x5))
print(type(x6))
print(type(x7))
print(type(x8))
print(type(x9))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'bool'>

#Python Numbers

In [34]:
x=755658794344656754
y=23.1999
z=-23+7j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [43]:
x=range(0,6,2)
print(list(x))

[0, 2, 4]

In [45]:
x={1, 2, 4, 2, 6 ,5, 3 ,7, 9, 2, 8, 1, 6} #set
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

#Type Conversion

In [49]:
x=1
y=2.8
z=1j
a=float(x)
print(a)
b=int(y)
print(b)
c=complex(x)
print(c)

1.0
2
(1+0j)

#Python Casting

In [50]:
x=int(1) #x will be 1
y=int(2.8) #y will be 2
z=int("3") #z will be 3

x=float(1) #x will be 1.0
y=float(2.8) #y will be 2.8
z=float("3") #z will be 3.0
w=float("4.2") #w will be 4.2

x=str("s1") #x will be 's1'
y=str(2) #y will be '2'
z=str(3.0) #z will be '3'

#Assignment

In [58]:
x, y = 2, 3
print( str(x)+str(y))

23

#Assign String to Variable

In [60]:
name= "Priya"
print(name)
print(type(name))

Priya
<class 'str'>

In [63]:
name="Priya"
print(name[1]) 
print(len(name)) #string length

r
5

#Check String

In [70]:
txt="Things in life are free"
print("life" in txt)
print("I" in txt)
print(txt[0:6]) #Slicing
print(txt[:6]) #start
print(txt[7:]) #end

True
False
Things
Things
in life are free

#Negative Indexing

In [71]:
txt="Things in life are free!"
print(txt[-6:-1])

 free

#Modifying

In [73]:
txt="Things in life are free!"
print(txt.upper())
print(txt.lower())

THINGS IN LIFE ARE FREE!
things in life are free!

#String Concatenation

In [75]:
a="Hello "
b="World!"
print(a+b)

Hello World!

Python-Format-String

In [82]:
age=36
txt="My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

#Escape Characters

In [84]:
txt="Hello\nWorld!"
print(txt)

Hello
World!

In [85]:
txt="Hello\tWorld!"
print(txt)

Hello	World!

In [86]:
txt="priya"
print(txt.capitalize())

Priya

In [88]:
txt="priya"
print(txt.isupper())

False

In [89]:
txt="priya"
print(txt.isalpha())

True

#Exercise

In [109]:
name="alvas"
a=" college"
txt="alvas{}"
print(name)
print(len(name))
print(name[0:4])
print(name.upper())
print(name+a)
print(txt.format(a))
print(name.isdigit())

alvas
5
alva
ALVAS
alvas college
alvas college
False

#Boolean Values

In [111]:
print(10>9)
print(10==9)

True
False

#Arithmetic Operators

In [112]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)

15
5
50
2.0
0

#Python Comparison Operators

In [113]:
x, y = 2, 5
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

False
True
False
True

In [114]:
print(3<0 and 3<8) #False and True is False
print(3<0 and 3>8) #False and True is False
print(3<0 or 3<8) #False and True is true

False
False
True

#Assignment

In [123]:
x=int(input("enter a number:\n"))
y=int(input("enter a number:\n"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x%y)
print(x==y)
print(x!=y)
print(x>y)
print(x<y)

enter a number:
5
enter a number:
6
11
-1
30
0.8333333333333334
5
False
True
False
True

#thislist

In [125]:
thislist=["Priya", "Nithya", "Archana"]
print(thislist)
print(len(thislist)) #length

['Priya', 'Nithya', 'Archana']
3

In [130]:
L=list(("cse", "ece", "ise"))
print(L)

['cse', 'ece', 'ise']

#Range of Indexes

In [131]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[2:5])

['ise', 'mech', 'civil']

#Slice from the start

In [133]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[:3])

['cse', 'ece', 'ise']

#Slice from the end

In [134]:
L=["cse", "ece", "ise", "mech", "civil"]
print(L[4:])

['civil']

#Change list items

In [136]:
L=["cse", "ece", "ise"]
L[-1]="ML"
print(L)

['cse', 'ece', 'ML']

#Add list items

In [138]:
thislist=["apple", "banana", "cherry"]
print(len(thislist))
thislist.append("orange")
print(thislist)
print(len(thislist))

3
['apple', 'banana', 'cherry', 'orange']
4

#Extend List

In [144]:
thislist=["apple", "banana", "cherry"]
tropical=["mango", "pineapple", "papaya"]
thislist.extend(tropical)

print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [143]:
thislist=["apple", "banana", "cherry"]
tropical=["mango", "pineapple", "papaya"]
newlist=thislist+tropical
print(newlist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#Remove specified item

In [152]:
thislist=["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist.pop()
print(thislist)

del thislist[0]
print(thislist)

['apple', 'cherry']
['apple']
[]

#Sort method

In [154]:
thislist=[100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

#Sort Descending

In [157]:
thislist=[100, 50, 65, 82, 23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

#Reverse Order

In [159]:
thislist=[100, 50, 65, 82, 23]
thislist.reverse()
print(thislist)

[23, 82, 65, 50, 100]

In [161]:
namelist=["Harsh", "Pratik", "Bob", "Dhruv"]
print(namelist[1])

Pratik

#Exercise

In [163]:
animal=['cat', 'dog', 'fish', 'goat']
age=[1, 2, 2, 6]
newlist=animal+age
print(newlist)

animal.extend(age)
print(animal)

['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]
['cat', 'dog', 'fish', 'goat', 1, 2, 2, 6]

#Exercise

In [171]:
age=[1, 2, 3, 6]
age.append(9)
print(age)

age.pop(2)
print(age)

print(age.count(3))

[1, 2, 3, 6, 9]
[1, 2, 6, 9]
0

#Python Tuples

In [175]:
thistuple=("apple", "banana", "cherry")
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

#Update tuple

In [176]:
x=("apple", "banana", "cherry")
y=list(x)
y[1]="kiwi"
x=tuple(y)
print(x)

('apple', 'kiwi', 'cherry')

In [184]:
fruits=("apple", "banana", "cherry")
x=list(fruits)
print(x)
x.append("Banana")
print(x)
print(tuple(x))
print(fruits[-2])

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'Banana']
('apple', 'banana', 'cherry', 'Banana')
banana